body {
    overflow-x: hidden;
    height: 100%;
    }
    .results {
        padding-top: 20px;
        background: #ff4400;
        height: 100%;
    }
    .result-box{
        background: #f7f2d2
    }
    p {
        float: left;
        text-align: left;
    }
    .title, .authors {
        margin-left: 10px;
    }
    .authors {
        font-size: 20px;
        font-weight: bold;
        color: indigo;
    }
    .buttonDiv {
        margin-right: 20px;
        float: right;
    }
    .title {
        margin-bottom: 0px;
        font-weight: bold;
    }
    .results h1 {
        color: white;
    }
    .view {
        background:rgb(5, 163, 89);
        color: white;
        margin-right: 10px;
    }
    .save {
        color: white;
    }
    .description{
        margin-right: 20px;
        font-size: 18px;
    }