.header {
    background: url("../../image/reading1.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: right;
    height: 100vh;
    color: #f40;
    text-shadow: 1px 1px black;
    padding-top: 25vh;
}
.header h1{
    font-size: 64px;
    font-family: cursive;
}
.header h2 {
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
}
.btn {
    background:rgb(1, 11, 68);
    height: 40px;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    
}
input {
    height: 35px;
}
form {
    width: 35vw;
    margin: 40px auto;
}